<div *ngFor="let item of projects" class="content-detalles" [hidden]="isHidden">
    <h3>Proyecto: {{ item.title }}</h3>
    <p><strong>Squad:</strong> {{ item.squad }}</p>
    <div>
        <div class="mt-4 mb-4">
            Filtrar Por:
            <div class="d-flex justify-content-start mt-3">
                <div>
                    <select id="cars">
                        <option value="volvo" selected>Developer Backend</option>
                        <option value="saab">Saab</option>
                        <option value="vw">VW</option>
                        <option value="audi" >Perfil</option>
                      </select >

                </div>
                <div>
                    <select id="cars">
                        <option value="volvo" selected>INDRA</option>
                        <option value="saab">Express</option>
                        <option value="vw">VW</option>
                        <option value="audi" >Empresa</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="detalls-table">
            <div>
                <div><span> Nombre</span></div>
                <div>Perfil</div>
                <div>Empresa</div>
                <div>Tarifa</div>
                <div>Días Facturable</div>
                <div>Total ejecutable</div>
                <div>Editar</div>
            </div>
            <div *ngFor="let n of item.team">
                <div> <span>{{ n.name }}</span> </div>
                <div>{{ n.perfil }}</div>
                <div>{{ n.empresa }}</div>
                <div>S/ {{ n.tarifa }}</div>
                <div>{{ n.dias }}</div>
                <div>S/ {{ n.tarifa }}*{{ n.dias }}</div>
                <div>Asignación</div>
            </div>
        </div>

    </div>

    <div class="mt-5">
        <p><strong>Monto a liquidar: S/. 22 267,52</strong></p>
    </div>
</div>