
<div class="content-detalles">
    <h3>Proyecto: Personalizacion Vida</h3> 
    <p><strong>Squad:</strong> SMT Continuidad Journey </p>

    <div>
        <div class="mt-4 mb-4">
            Filtrar Por: 
            <div class="d-flex justify-content-start mt-3">
                <div>
                    <select id="cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="vw">VW</option>
                        <option value="audi" selected>Perfil</option>
                      </select>

                </div>
                <div>
                    <select id="cars">
                        <option value="volvo">Indra</option>
                        <option value="saab">Express</option>
                        <option value="vw">VW</option>
                        <option value="audi" selected>Empresa</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="detalls-table">
            <div>
                <div> <span> Nombre</span></div>
                <div>Perfil</div>
                <div>Empresa</div>
                <div>Tarifa</div>
                <div>Días Facturable</div>
                <div>Total ejecutable</div>
                <div>Editar</div>
            </div>
            <div>
                <div> <span>MARCO LUDEÑA FARJE</span> </div>
                <div>Developer Backend</div>
                <div>INDRA</div>
                <div>S/ 63.26, 22,</div>
                <div>22</div>
                <div>S/ 11 133.76</div>
                <div>Asignación</div>
            </div>
            <div>
                <div>MARCO LUDEÑA FARJE</div>
                <div>Developer Backend</div>
                <div>INDRA</div>
                <div>S/ 63.26, 22,</div>
                <div>22</div>
                <div>S/ 11 133.76</div>
                <div>Asignación</div>
            </div>
        </div>
        
    </div>

    <div class="mt-5">
        <p><strong>Monto a liquidar: S/. 22 267,52</strong></p>
    </div>
</div>
