<div class="container">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h3>Mis proyectos</h3>
        </div>
        <div class="col-md-6">
            <div>
                <h6>Nombre del Proyecto</h6>
            </div>
            <ul class="list-inline list-projects">
                <li><span>Personalizacón Vida</span> <a  routerLink="details" class="underline-span" >ir detalle </a></li>
                <li><span>Proyecto 2</span> <a href="http://#" class="underline-span" >ir detalle </a></li>
                <li><span>Proyecto 3</span> <a href="http://#" class="underline-span" >ir detalle </a> </li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="assets/imgs/goals.svg" class="img-fluid" alt="goals">
        </div>
    </div>
    

    
</div>
