.c-checkbox label {
  display: block;
}

.c-checkbox label input {
  margin: right 10px;
}

/* #formulario-register {
  font-family: sans-serif;
  background: #14376d;
  color: white;
  padding: 5px;
  text-align: center;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom: 5px solid #205ab4;
  margin-bottom: 5px;
} */

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* FORMULARIO: fondo blanco y casillas --------------------------- */
#tabla-formulario form {
  background-color: white;
  margin: 10px;
  /* margin: 0 auto; */
  border-radius: 19px;
  width: 40%;
  /* SECUENCIA: para centrar formulario */
  /* position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* TAMAÑO LETRA: nombre, apellido, e-mail, etc ----- */
#tabla-formulario label {
  margin-left: 8px;
  font-size: 12px;
  padding: 5px;
  display: block;
  width: 100%;
  font-family: sans-serif;
}

/* -------------------------------------------------- */
/* EDICION CADA INPUT: diseño ----------------------- */
#tabla-formulario input {
  margin-bottom: 10px;
  width: 95%;
  padding: 2%;
  margin-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-style: italic;
}

/* Cuando da click dentro de un input --------------- */
input:focus {
  background-color: #F2F2F2;
}

/* FUNCION DEL BOTON REGISTRARSE --------- */
#tabla-formulario  #button {
    /* width: 94%; */
    font-family: sans-serif;
    font-size:15px;
    font-weight: bolder;
    background-color: #205ab4;
    color: #fff;
    cursor: pointer;
    margin-bottom:15px;
    margin-left:10px;
    border: none;
    padding: 10px 40px;

    -webkit-box-shadow: 4px 9px 8px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 8px -4px rgba(0,0,0,0.75);
     box-shadow: 4px 9px 8px -4px rgba(0,0,0,0.75);      
}
#tabla-formulario  #button:hover{
background-color: #7FACDE;
}
