<div>
    <h3>Registra tus proyectos</h3>
    <div class="mt-4">
        <h6>Paso 1</h6>
        <p>Por favor, seleccione los proyectos de financiamiento a su cargo: </p>
        <div>
            <div id="checkboxes" class="c-checkbox">
                <label for="one">
                    <input type="checkbox" id="one" /> Proyecto Ultra</label>
                <label for="two">
                    <input type="checkbox" id="two" /> Proyecto TomCalncy</label>
                <label for="three">
                    <input type="checkbox" id="three" /> Proyecto Clinica</label>
                <label for="one">
                    <input type="checkbox" id="one" /> Proyecto Ultra</label>
                <label for="two">
                    <input type="checkbox" id="two" /> Proyecto TomCalncy</label>
                <label for="three">
                    <input type="checkbox" id="three" /> Proyecto Clinica</label>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h6>Paso 2</h6>
        <p>Asigne al squad a cargo con financiamiento a su cargo: </p>
        <div>
            <select id="cars">
                <option value="volvo">SMT Continuidad Journey</option>
                <option value="saab">Personalización Vida: core & add ons - Producto Flexible</option>
                <option value="vw">Squad venta digital y renovación</option>
                <option value="audi" selected>Selecione el squad</option>
            </select>
        </div>
    </div>

    <div class="mt-5">
        <h6>Paso 3</h6>
        <p>Registre al personal del squad cargo: </p>
        <div>

            <div id="tabla-formulario">
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">DNI</label>
                    <div class="col-10">
                        <input class="form-control" type="number"  id="example-text-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-2 col-md-12 col-form-label">Nombres</label>
                    <div class="col-10 col-md-10">
                        <input class="form-control" type="search"  id="example-search-input">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 ">
                        <div class="row">
                            <label for="apellido" class="col-4 col-form-label">Apellido Paterno</label>
                            <div class="col-12">
                                <input class="form-control" type="search"  id="apellido">
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <label for="apellido2" class="col-4 col-form-label">Apellido Materno</label>
                            <div class="col-12">
                                <input class="form-control" type="search"  id="apellido2">
                            </div>
                        </div>                        
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label for="example-date-input" class="col-2 col-form-label">Fecha de Ingreso</label>
                    <div class="col-10">
                        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                    </div>
                </div>
                
              
                <div class="form-group row">
                    <label for="empresa" class="col-2 col-form-label">Empresa</label>
                    <div class="col-10 col-md-10">
                        <select id="empresa" class=" form-control">
                            <option value="volvo">SMT Continuidad Journey</option>
                            <option value="saab">Personalización Vida: core & add ons - Producto Flexible</option>
                            <option value="vw">Squad venta digital y renovación</option>
                            <option value="audi" selected>Selecione el squad</option>
                        </select>
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label for="example-number-input" class="col-2 col-form-label">Tarifa</label>
                    <div class="col-10">
                        <input class="form-control" type="number" value="42" id="example-number-input">
                    </div>
                </div>

                <div>
                    <button name="registro" type="submit" id="button"> Registrarse </button>
                </div>
                
            </div>
        </div>

    </div>